.image-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  #kittyImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

img {
    max-width: 100%;
    height: auto;
}

h1, p {
    text-align: center;
}

#changeImage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#tinyscript {
    font-size: 12px;
    color: rgba(128, 128, 128, 0.5); /* Half gray color with alpha (transparency) value */
    text-align: center;
}