body {
  font-family: helvetica, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* page was boring so I found a way to make a background img*/
  background-image: url('catbkgrnd.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.70;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

p {
  background: lightgray;
  color: #5e2612;
  padding: 10px;
  visibility: hidden;}
